@{
    ViewData["Title"] = "Corona management system at the HMO";
}

<h1>@ViewData["Title"]</h1>
<p>Welcome!</p>

<div>
    <a href="/Home/AddMember" class="btn btn-primary">Add member</a>
    <a href="/Home/HmoMembers" class="btn btn-primary">HMO members</a>
    <a href="/Home/Statistics" class="btn btn-primary">Statistics</a>
</div>
