@{
    ViewData["Title"] = "Corona management system at the HMO";
}

<h1>@ViewData["Title"]</h1>
<p>Welcome!</p>

<div>
    <a href="/Home/AddContent" class="btn btn-primary">Adding content to the system</a>
    <a href="/Home/HmoMembers" class="btn btn-primary">List of HMO members</a>
    <a href="/Home/Statistics" class="btn btn-primary">Statistics</a>
</div>
