<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/home.css">
    <title>Corona management system at the HMO</title>
</head>
<body>
    <h1>Corona management system at the HMO</h1>
    <p>Welcome!</p>
    <div>
        <a href="/Home/AddPerson" class="btn btn-primary">Add Person</a>
        <a href="/Home/HmoPersons" class="btn btn-primary">HMO Persons</a>        
        <a href="/Home/Statistics" class="btn btn-primary">Statistics</a>
    </div>
</body>
</html>
