@model int
<!DOCTYPE html>
<html>
<head>
    <title>Add Positive Test</title>
    <link rel="stylesheet" href="~/css/addPositiveTest.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function goToHomePage() {
            window.location.href = "/Home";
        }
        function InsertPositiveCoronaTest() {
            // Get the form data from UI form
            var personId = @Model;
            var formData = {
                personId: personId,
                positiveDate: $('#positiveTestDate').val(),
                recoveryDate: null
            };

            // Send a POST request to the API
            $.ajax({
                url: '/api/CoronaTest',
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function (data) {
                    alert('Positive corona test added successfully');
                    //go to the list of persons
                    window.location.href = "/Home/HmoPersons";
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 404) {
                        alert('Corona test is not found');
                    }
                    var errorMessage = JSON.stringify(xhr.responseJSON);
                    alert('An error occurred while adding the positive corona test ' + errorMessage);
                }
            });
        }
    </script>
</head>

<body>
    <div id="headerPage">
        <h1>Add Positive Test</h1>
        <button onclick="goToHomePage()">Go to Home</button>
    </div>
    <form id="addCoronaTestForm" onsubmit="event.preventDefault(); InsertPositiveCoronaTest();">

        <div>
            <label for="positiveTestDate">Positive Test Date:</label>
            <input type="date" id="positiveTestDate" name="positiveTestDate" required />
        </div>

        <button type="submit" value="Add Corona Test">Submit</button>
    </form>
</body>
</html>
