@model int
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Positive Test</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    <h1>Add Positive Test</h1>
    <form method="post" asp-action="AddPositiveTest">
        <input type="hidden" name="personId" value="@ViewBag.PersonId" />

        <div>
            <label for="positiveTestDate">Positive Test Date:</label>
            <input type="date" name="positiveTestDate" required />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
