@model int
<!DOCTYPE html>
<html>
<head>
    <title>Set Recovery Date</title>
    <link rel="stylesheet" href="~/css/setRecoveryDate.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function goToHomePage() {
            window.location.href = "/Home";
        }
        function SetRecoveryDate() {
            // Get the form data from UI form
            var personId = @Model;
            var formData = {
                recoveryDate: $('#recoveryDate').val()
            };

            // Send a POST request to the API
            $.ajax({
                url: '/api/CoronaTest/'+ personId + '/recoverydate',
                type: 'PUT',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function (data) {
                    alert('Recovery date set successfully');
                    //go to the list of persons
                    window.location.href = "/Home/HmoPersons";
                },
                error: function (xhr, status, error) {
                     if (xhr.status === 404) {
                        var errorMessage = xhr.responseText;
                        alert(errorMessage);
                    }
                    var errorMessage = JSON.stringify(xhr.responseJSON);
                    alert('An error occurred while setting the recovery date ' + errorMessage);
                }
            });
        }
    </script>
</head>

<body>
    <div id="headerPage">
        <h1>Set Recovery Date</h1>
        <button onclick="goToHomePage()">Go to Home</button>
    </div>
    <form id="setRecoveryDate" onsubmit="event.preventDefault(); SetRecoveryDate();">

        <div>
            <label for="recoveryDate">Recovery Date:</label>
            <input type="date" id="recoveryDate" name="recoveryDate" required />
        </div>

        <button type="submit" value="Set Recovery Date">Submit</button>
    </form>
</body>
</html>
