body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fbcbc9;
    font-family: Arial, sans-serif;
    font-size:large;
}

h1 {
    color: #e75874;
}

#headerPage {
    margin-bottom: 20px;
    text-align: center;
}

#addVaccineForm {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 30px;
    background-color: #e75874;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: large;
}

    #addVaccineForm div {
        margin-bottom: 10px;
    }

    #addVaccineForm label {
        display: inline-block;
        width: 150px;
        font-weight: bold;
    }

    #addVaccineForm input[type="text"],
    #addVaccineForm input[type="date"],
    #addVaccineForm input[type="tel"],
    #addVaccineForm input[type="file"] {
        width: 200px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    #addVaccineForm button[type="submit"] {
        display: block;
        margin: 10px auto;
        padding: 10px 20px;
        background-color: #be1558;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
