body {
    background-color: #fbcbc9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
    color: #be1558;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    color: #322514;
    font-size: 18px;
}

div {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #e75874;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #be1558;
}
